.form_container {
    padding: 20px;
    width: 600px;
    border: solid 2px #e2e5e8;
    border-radius: 5px;
    background: #fff;
}

.ui.button.cancelbtn {
    margin: 0 20px;
}

.form_bottom {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.button_main {
    width: 40px;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}